@{
    ViewData["Title"] = "Home Page";
}
@inject LanguageService language

<div class="text-center">
    <h1 class="display-4">@language.Getkey("welcome")</h1>
    <p>You can search the game literatures</p>
</div>
